<div class="ui container">
  <div class="top">
    <div class="ui negative message" *ngIf="errorMessage.display">
      <div class="header">
        {{errorMessage.header}}
      </div>
      <p>{{errorMessage.information}}</p>
    </div>

    <form class="ui form" [formGroup]="generateForm" (ngSubmit)="submit()">
        <h1 class="ui blue dividing header title">Informations de génération</h1>
        <div class="row">
          <h4 class="ui dividing header title">nombre A</h4>
          <div class="inline fields">
            <div class="eight wide field">
              <div class="ui labeled input">
                <div class="ui label">
                  entre
                </div>
                <input type="number" min="0" name="minA" placeholder="..." formControlName="minA" (input)="checkBornes()">
              </div>
            </div>
            <div class="eight wide field">
              <div class="ui labeled input">
                <div class="ui label">
                  et
                </div>
                <input type="number" [min]="generateForm.value['minA'] + 1" name="maxA" placeholder="..." formControlName="maxA" (input)="checkBornes()">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <h4 class="ui dividing header title">nombre B</h4>
          <div class="inline fields">
            <div class="eight wide field">
              <div class="ui labeled input">
                <div class="ui label">
                  entre
                </div>
                <input type="number" min="0" name="minB" placeholder="..." formControlName="minB" (input)="checkBornes()">
              </div>
            </div>
            <div class="six wide field">
              <div class="ui labeled input">
                <div class="ui label">
                  et
                </div>
                <input type="number" [min]="generateForm.value['minB'] + 1" name="maxB" placeholder="..." formControlName="maxB" (input)="checkBornes()">
              </div>
            </div>
            <div class="two wide field">
              <div class="ui checkbox">
                <input type="checkbox" name="add" id="add" formControlName="bUnderA" (change)="checkBornes(); checkMaxDifferentCalculations()">
                <label>B < A ? </label>
              </div>
            </div>
          </div>
      </div>
      <div class="inline fields">
        <div class="two wide field">
          <div class="ui checkbox">
            <input type="checkbox" name="add" id="add" formControlName="add">
            <label>Addition</label>
          </div>
        </div>
        <div class="two wide field" *ngIf="generateForm.value['add']">
            <input type="number" min="0" max="500" name="nbAdd" placeholder="nb" formControlName="nbAdd" (input)="checkMaxDifferentCalculations()">
        </div>
        <div class="two wide field">
          <div class="ui checkbox">
            <input type="checkbox" name="sub" id="sub" formControlName="sub">
            <label>Soustraction</label>
          </div>
        </div>
        <div class="two wide field" *ngIf="generateForm.value['sub']">
            <input type="number" min="0" max="500" name="nbSub" placeholder="nb" formControlName="nbSub" (input)="checkMaxDifferentCalculations()">
        </div>
        <div class="two wide field">
          <div class="ui checkbox">
            <input type="checkbox" name="mul" id="mul" formControlName="mul">
            <label>Multiplication</label>
          </div>
        </div>
        <div class="two wide field" *ngIf="generateForm.value['mul']">
            <input type="number" min="0" max="500" name="nbMul" placeholder="nb" formControlName="nbMul" (input)="checkMaxDifferentCalculations()">
        </div>
        <div class="two wide field">
          <div class="ui checkbox" >
            <input type="checkbox" name="div" id="div" formControlName="div">
            <label>Division</label>
          </div>
        </div>
        <div class="two wide field" *ngIf="generateForm.value['div']">
            <input type="number" min="0" max="500" name="nbDiv" placeholder="nb" formControlName="nbDiv" (input)="checkMaxDifferentCalculations()">
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <button class="center ui primary button" type="submit" [disabled]="generateForm.invalid || errorMessage.display"> Générer PDF </button>
        </div>
      </div>
      </form>
  </div>
</div>
